.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}
